<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some website</title>
</head>
<body>
  {{> header}}
  <p>{{welcomeMessage}}</p>
</body>
{{> footer}}<!--that how to inject a partial locate in views/partials file-->
</html>
